<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flora">

    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/flora_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/flora_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flora"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AfterSearchPage"
            android:exported="true" />
        <activity
            android:name=".SearchPage"
            android:exported="true" />
        <activity
            android:name=".OrderList"
            android:exported="true" />
        <activity
            android:name=".AfterReservationActivity"
            android:exported="true" />
        <activity
            android:name=".ReservationActivity"
            android:exported="true" />
        <activity
            android:name=".SeeStore"
            android:exported="true" />
        <activity
            android:name=".FeedSeeProduct"
            android:exported="true" />
        <activity
            android:name=".SearchMapActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LocationSetting"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".activities.ShopsActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ChatActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".firebase.MessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="8fz6aeboa3" />
    </application>

</manifest>